<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- 日志输出格式 -->
	<property name="ENCODER_PATTERN"
		value="[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n" />

	<!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- ch.qos.logback.core.rolling.RollingFileAppender 文件日志输出 -->
	<appender name="errorLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>/Users/kane/Kane_Business/log/Incubator/error.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>/Users/kane/Kane_Business/log/Incubator/error-%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>10</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>5MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${ENCODER_PATTERN}</pattern>
		</layout>
	</appender>

	<!-- 将test包下的错误信息打到errorLogFile中去 -->
	<!-- 这里name的logger是包名 -->
	<!-- additivity为true , 上一级(root)logger也可以打印,默认为true -->
	<logger name="logger" level="error" additivity="false">
		<appender-ref ref="errorLogFile" />
	</logger>

	<!-- 能打低级别的日志,高级别的自动也被打印出来,反之不行(打印error级别,info的是不会被打出来的) -->
	<root level="info">
		<appender-ref ref="console" />
	</root>  

</configuration>   